import { colors, measurements, transforms } from '@jbroll/jscad-anchors';
import type {
  AlignOptions,
  BoundingBox,
  CenterOptions,
  Centroid,
  Geometry,
  Mat4,
  MirrorOptions,
  RGB,
  RGBA,
  Vec3,
} from '../types';

export class FluentGeometryArray<T extends Geometry> extends Array<T> {
  constructor(...items: T[]) {
    super(...items);
    Object.setPrototypeOf(this, FluentGeometryArray.prototype);
  }

  // Array's own map would build the callback's results into this class.
  map<U>(callback: (value: T, index: number, array: T[]) => U, thisArg?: unknown): U[] {
    return Array.from(this, (value, index) => callback.call(thisArg, value, index, this));
  }

  {{#transformMethods}}
  {{> methodArrayObject}}
  {{/transformMethods}}

  {{#arrayMeasurementMethods}}
  {{> methodArrayValue}}
  {{/arrayMeasurementMethods}}

  toString(): string {
    return `FluentGeometryArray(${this.length})[${
      this.map(item => item.toString()).join(', ')
    }]`;
  }
}
