import { extrusions, hulls, measurements } from '@jbroll/jscad-anchors';
import type {
  Geom2,
  Vec3,
  ExtrudeHelicalOptions,
  ExtrudeLinearOptions,
  ExtrudeRectangularOptions,
  ExtrudeRotateOptions,
} from '../types';
import { FluentGeom3 } from './FluentGeom3';
import { FluentGeom3Array } from './FluentGeom3Array';
import { FluentGeometryArray } from './FluentGeometryArray';
import { FluentGeom2 as ThisScalar } from './FluentGeom2';

// A lone number is the length that Array's filter and slice construct with.
const wrap = (item: Geom2): ThisScalar =>
  item instanceof ThisScalar || typeof item === 'number' ? item : new ThisScalar(item);

export class FluentGeom2Array extends FluentGeometryArray<ThisScalar> {
  constructor(...geometries: Geom2[]) {
    super(...geometries.map(wrap));
    Object.setPrototypeOf(this, FluentGeom2Array.prototype);
  }

  static create(...items: Geom2[]): FluentGeom2Array {
    return new FluentGeom2Array(...items);
  }
  
  push(...geometries: Geom2[]): number {
    return super.push(...geometries.map(wrap));
  }

  append(geometry: Geom2): this {
    this.push(geometry);
    return this;
  }

  {{#extrudeMethods}}
  {{> methodArrayExtrude}}
  {{/extrudeMethods}}
  
  {{#solidArrayMeasurementMethods}}
  {{> methodArrayValue}}
  {{/solidArrayMeasurementMethods}}

  {{#hullMethods}}
  {{> methodArrayReduce}}
  {{/hullMethods}}

}