import { anchors, expansions, geometries, hulls, measurements, transforms, extrusions, booleans, colors, modifiers } from '@jbroll/jscad-anchors';
import type {
  AlignOptions,
  Anchorable,
  AnchorRef,
  AttachOptions,
  Frame,
  FrameInput,
  Frames,
  SubtractOptions,
  Centroid,
  Geom2,
  Vec2,
  Vec3,
  Mat4,
  RGB,
  RGBA,
  BoundingBox,
  CenterOptions,
  GeneralizeOptions,
  ExpandOptions,
  ExtrudeFromSlicesOptions,
  ExtrudeHelicalOptions,
  ExtrudeLinearOptions,
  ExtrudeRectangularOptions,
  ExtrudeRotateOptions,
  MirrorOptions,
  OffsetOptions
} from '../types';

const { geom2 } = geometries;

import { copyGeometry } from '../copyGeometry';
import { FluentGeom2Array } from './FluentGeom2Array';
import { FluentGeom3 } from './FluentGeom3';

export class FluentGeom2 implements Geom2 {
  readonly type: 'geom2' = 'geom2';
  // biome-ignore lint/suspicious/noExplicitAny: Required by JSCAD geometry type
  sides!: Array<any>;
  transforms!: Mat4;
  anchors?: { frames: Frames; basis: unknown };

  constructor(geometry: Geom2) {
    copyGeometry(this, geometry ?? geom2.create());
  }

  // biome-ignore lint/suspicious/noExplicitAny: Required for polymorphic wrapper
  private _wrap(geometry: any): this {
    return new (this.constructor as new (g: Geom2) => this)(geometry);
  }

  append(geometry: Geom2): FluentGeom2Array {
    return FluentGeom2Array.create(this, geometry);
  }

  {{#transformMethods}}
  {{> methodObject}}
  {{/transformMethods}}
  
  {{#expansionMethods}}
  {{> methodObject}}
  {{/expansionMethods}}

  {{#offsetMethods}}
  {{> methodObject}}
  {{/offsetMethods}}

  {{#booleanMethods}}
  {{> methodBoolean}}
  {{/booleanMethods}}

  {{> methodAnchors}}

  {{#hullMethods}}
  {{> methodObject}}
  {{/hullMethods}}

  {{#extrudeMethods}}
  {{> methodExtrude}}
  {{/extrudeMethods}}

  /**
   * Extrude a solid from slices that a callback places along the way; the default
   * callback extrudes the shape one unit up Z.
   * @param {Object} options - slice options
   * @param {Integer} [options.numberOfSlices=2] - number of times the callback is called; at least 2
   * @param {Boolean} [options.capStart=true] - close the start of the solid
   * @param {Boolean} [options.capEnd=true] - close the end of the solid
   * @param {Boolean} [options.close=false] - join the last slice back to the first, for a ring
   * @param {Boolean} [options.repair=true] - repair gaps in the base slice
   * @param {Function} [options.callback] - (progress, index, base) => slice or null to skip; progress runs 0 to 1, base is this shape
   * @returns {FluentGeom3} the extruded solid
   * @example
   * const { mat4 } = jf.maths
   * jf.square({ size: 10 }).extrudeFromSlices({
   *   numberOfSlices: 10,
   *   callback: (t, i, base) => jf.slice.transform(
   *     mat4.multiply(mat4.create(), mat4.fromTranslation(mat4.create(), [0, 0, t * 20]), mat4.fromZRotation(mat4.create(), t)),
   *     jf.slice.fromSides(base.toSides())),
   * })
   */
  extrudeFromSlices(options: ExtrudeFromSlicesOptions<FluentGeom2>): FluentGeom3 {
    return new FluentGeom3(extrusions.extrudeFromSlices(options, this));
  }

  {{#modifierMethods}}
  {{> methodObject}}
  {{/modifierMethods}}

  {{#measurementMethods}}
  {{> methodValue}}
  {{/measurementMethods}}

  {{#geom2Methods}}
  {{> methodValue}}
  {{/geom2Methods}}

}
