import { hulls } from '@jbroll/jscad-anchors';
import type { Geom3 } from '../types';
import { FluentGeometryArray } from './FluentGeometryArray';
import { FluentGeom3 as ThisScalar } from './FluentGeom3';

// A lone number is the length that Array's filter and slice construct with.
const wrap = (item: Geom3): ThisScalar =>
  item instanceof ThisScalar || typeof item === 'number' ? item : new ThisScalar(item);

export class FluentGeom3Array extends FluentGeometryArray<ThisScalar> {
  constructor(...geometries: Geom3[]) {
    super(...geometries.map(wrap));
    Object.setPrototypeOf(this, FluentGeom3Array.prototype);
  }

  static create(...items: Geom3[]): FluentGeom3Array {
    return new FluentGeom3Array(...items);
  }
  
  push(...geometries: Geom3[]): number {
    return super.push(...geometries.map(wrap));
  }

  append(geometry: Geom3): this {
    this.push(geometry);
    return this;
  }

  {{#hullMethods}}
  {{> methodArrayReduce}}
  {{/hullMethods}}
}