{{> methodDoc}}
{{name}}({{#params}}{{name}}: {{type}}{{^last}}, {{/last}}{{/params}}): FluentGeom3Array {
  return FluentGeom3Array.create(...Array.from(this, (geom) => new FluentGeom3(extrusions.{{name}}({ ...options }, geom))));
}

