{{name}}({{#params}}{{name}}: {{type}}{{^last}}, {{/last}}{{/params}}): this {
  checkOperands(`${NAME}.{{name}}`, others, {{#options}}true{{/options}}{{^options}}false{{/options}}, KIND);
  return this._wrap(booleans.{{name}}(this, ...others));
}
