{{> methodDoc}}
{{name}}({{#params}}{{name}}: {{type}}{{^last}}, {{/last}}{{/params}}): this {
  return new (this.constructor as new (...items: T[]) => this)(
    ...([{{ns}}.{{name}}({{#params}}{{name}}{{^last}}, {{/last}},{{/params}} this)].flat() as T[])
  );
}

