{{name}}({{#params}}{{name}}: {{type}}{{^last}}, {{/last}}{{/params}}): {{returnType}} {
  Object.assign(this, transforms.{{name}}({{#params}}{{name}}{{^last}}, {{/last}},{{/params}} this));
  return this;
}

